@model IEnumerable<HRSM.DATAMODEL.EMPLOYEE>
@using HRSM.DATAMODEL;
@using HRSM.WEBAPP.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Style/TalbeHover.css" rel="stylesheet" />

<div class="container-fluid">
    <h2>Λίστα Προσωπικού</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Κωδικός</th>
                <th>Όνομα</th>
                <th>Επώνυμο</th>
                <th>Τηλέφωνο</th>
                <th>Email</th>
                <th>Ημ.Λήξη Αδείας</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (EMPLOYEE employee in Model)
            {
                <tr style="cursor: pointer;" id="@employee.RGUID">
                    <td><p>@employee.RCODE</p></td>
                    <td><p>@employee.FIRSTNAME</p></td>
                    <td><p>@employee.LASTNAME</p></td>
                    <td><p>@employee.CONTACTINFO.PHONE1</p></td>
                    <td><p>@employee.CONTACTINFO.EMAIL</p></td>
                    <td>
                        <p>
                            @if (employee.EMPLOYEEDETAIL.SECLICEXPDATE != null)
                            {
                                @employee.EMPLOYEEDETAIL.SECLICEXPDATE.Value.ToShortDateString()
                            }
                        </p>
                    </td>
                    <td>
                        <button id="delete" name="delete" value="@employee.RGUID" type="button" class="btn btn-danger">Διαγραφή</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><p id="modalHeader"></p></h4>
                </div>
                @using (Ajax.BeginForm("Edit", "Employee", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onAjaxEditSuccess" }))
                {
                    <div id="modalBody" class="modal-body">
                        <p><input type="hidden" id="RGUID" name="RGUID" /></p>
                        <p><input type="hidden" id="ADDRESS_RGUID" name="ADDRESS.RGUID" /></p>
                        <p><input type="hidden" id="CONTACTINFO_RGUID" name="CONTACTINFO.RGUID" /></p>
                        <p><input type="hidden" id="EMPLOYEEDETAIL_RGUID" name="EMPLOYEEDETAIL.RGUID" /></p>
                        @if(Model.Count() > 0)
                        {
                            @Html.Partial("EmployeeForm",Model.FirstOrDefault());
                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
                        <input id="submit" type="submit" class="btn btn-primary" value="Αποθήκευση">
                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>


<script>

    $('table tbody tr td p').on('click', function () {

        //Get RGUID from table
        var rowGuid = $(this).closest('tr').attr('id');

        //Fetch Asynchronous EMPLOYEE to MODAL
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/Employee/Details")",
            data: { 'GUID': rowGuid },
            dataType: 'json',
            success: function (data) {
                $("#myModal").modal("show");
                $("#modalHeader").text(data.RCODE + " " + data.LASTNAME + " " + data.FIRSTNAME);

                $("#RGUID").val(data.RGUID);
                $("#ADDRESS_RGUID").val(data.ADDRESS.RGUID);
                $("#CONTACTINFO_RGUID").val(data.CONTACTINFO.RGUID);
                $("#EMPLOYEEDETAIL_RGUID").val(data.EMPLOYEEDETAIL.RGUID);

                $("#RCODE").val(data.RCODE);
                $("#FIRSTNAME").val(data.FIRSTNAME);
                $("#LASTNAME").val(data.LASTNAME);
                $("#ADDRESS_CITY").val(data.ADDRESS.CITY);
                $("#ADDRESS_STREET").val(data.ADDRESS.STREET);
                $("#ADDRESS_STATE").val(data.ADDRESS.STATE);
                $("#ADDRESS_POSTALCODE").val(data.ADDRESS.POSTALCODE);
                $("#CONTACTINFO_PHONE1").val(data.CONTACTINFO.PHONE1);
                $("#CONTACTINFO_PHONE2").val(data.CONTACTINFO.PHONE2);
                $("#CONTACTINFO_EMAIL").val(data.CONTACTINFO.EMAIL);
                $("#EMPLOYEEDETAIL_AT").val(data.EMPLOYEEDETAIL.AT);
                $("#EMPLOYEEDETAIL_AFM").val(data.EMPLOYEEDETAIL.AFM);
                $("#EMPLOYEEDETAIL_GENDER").val(data.EMPLOYEEDETAIL.GENDER);
                $("#EMPLOYEEDETAIL_BIRTHDATE").val(data.EMPLOYEEDETAIL.BIRTHDATE);
                $("#EMPLOYEEDETAIL_MARITALSTATUS").val(data.EMPLOYEEDETAIL.MARITALSTATUS);
                $("#EMPLOYEEDETAIL_SECLICEXPDATE").val(data.EMPLOYEEDETAIL.SECLICEXPDATE);
            }
        });
    });


    //Delete row from database and view.
    $('button[name=delete]').click(function () {
        var guid = $(this).val();

        $.ajax({
            type: "POST",
            url: "@Url.Content("~/Employee/Delete")",
            data: { 'GUID': guid },
            success: function (msg) {
                $("#" + guid).remove();
                alert(msg);
            }
        });
    });

    function onAjaxEditSuccess(data) {
        $("#myModal").modal("hide");
        var row = $("#" + data.RGUID);
        row.children('td:eq(0)').children('P').text(data.RCODE);
        row.children('td:eq(1)').children('P').text(data.FIRSTNAME);
        row.children('td:eq(2)').children('P').text(data.LASTNAME);
        row.children('td:eq(3)').children('P').text(data.PHONE1);
        row.children('td:eq(4)').children('P').text(data.EMAIL);
        row.children('td:eq(5)').children('P').text(data.SECLICEXPDATE);
    }

</script>