@model IEnumerable<string>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/themes/base/base.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script>
    $(document).ready(function () {

        $('#ACemployee').autocomplete({
            source: '@Url.Action("AutoCompleteEmployee", "WeeklyManualShift")',
            select: function (event, ui) {
                $("#employeeGuid").val(ui.item.RGUID);
                $("#ACemployee").val(ui.item.RCODE + " - " + ui.item.LASTNAME + " " + ui.item.FIRSTNAME);
                return false;
            }
        });
    });
</script>
<style>
    .ui-autocomplete {
        max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 500px;
    }
</style>


<label>From: @Model.First()</label><br />
<label>  To: @Model.Last()</label><br />

<form action="~/WeeklyManualShift/Create" method="post">

    <input id="employeeGuid" name="employeeGuid" type="hidden">
    <div class="container-fluid">
        <div class="form-group col-md-3">
            <label for="ACemployee">Φύλακας</label>
            <input id="ACemployee" name="ACemployee" class="form-control" type="text" placeholder="Φύλακας" />
        </div>

        <table class="table table-hover">
            <thead>
                <tr style="text-align :center">
                    <td>Κυριακή</td>
                    <td>Δευτέρα</td>
                    <td>Τρίτη</td>
                    <td>Τετάρτη</td>
                    <td>Πέμπτη</td>
                    <td>Παρασκευή</td>
                    <td>Σάββατο</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                        int counter = 0;
                    }
                    @foreach (string day in Model)
                    {
                        <td>
                            <input id="date-@counter" readonly="readonly" type="text" name="[@counter].date" style="text-align:center" class="form-control" value="@day" />
                        </td>
                        counter++;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td id="day-@i">
                            @Html.Partial("DailyShiftControl", i)
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (string day in Model)
                    {
                        <td hidden="hidden">
                            <input id="date-@counter" type="text" name="[@counter].date" style="text-align:center" class="form-control" value="@day" />
                        </td>
                        counter++;
                    }
                </tr>
                <tr>
                    @for (int i = 7; i < 14; i++)
                    {
                        <td>
                            <p id="day-@i" hidden="hidden">
                                @Html.Partial("DailyShiftControl", i)
                            </p>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <input id="onsubmit" type="submit"  class="btn btn-primary" value="Αποθήκευση" />

    </div>

    @*<script src="~/Scripts/jquery-1.9.1.js"></script>*@
    <script>
        $(function () {

            $("#onsubmit").click(function () {

                var c = 0;
                for (var i = 0; i < 14; i++)
                {
                    var item = $('input[id^=\\[' + i + '\\]]');
                    var value = item.val();

                    
                    if (value == '')
                    {
                        $('#ACguardsite-'+ i).removeAttr("name");
                        $('input[id^=\\['+ i +'\\]]').removeAttr("name");
                        $('#from-' + i).removeAttr("name");
                        $('#to-' + i).removeAttr("name");
                        $('#date-' + i).removeAttr("name");
                    }
                    else
                    {
                        $('#ACguardsite-' + i).removeAttr("name");
                        $('#ACguardsite-' + i).attr("name", "ACguardsite-" + c);

                        $('input[id^=\\[' + i + '\\]]').removeAttr("name");
                        $('input[id^=\\[' + i + '\\]]').attr("name", "[" + c + "].gsRGUID");
                        

                        $('#from-' + i).removeAttr("name");
                        $('#from-' + i).attr("name", "[" + c + "].from");

                        $('#to-' + i).removeAttr("name");
                        $('#to-' + i).attr("name", "[" + c + "].to");

                        $('#date-' + i).removeAttr("name");
                        $('#date-' + i).attr("name", "[" + c + "].date");
                        c++;
                    }
                }
            });
        });

    </script>
</form>
